body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1554px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1529px;
  height:1831px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:19px;
  width:1529px;
  height:1831px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:908px;
  width:1525px;
  visibility:hidden;
  word-wrap:break-word;
}
