body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1204px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1174px;
  height:58px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2367 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:1174px;
  height:58px;
}
#u2368 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:1170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:287px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2369 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:159px;
  width:1005px;
  height:287px;
}
#u2370 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:136px;
  width:1001px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2371 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:285px;
  width:1px;
  height:16px;
  font-size:16px;
}
#u2372 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:414px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.156862745098039);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2373 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:456px;
  width:1005px;
  height:414px;
}
#u2374 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:199px;
  width:1001px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:212px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.156862745098039);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2375 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:1196px;
  width:1005px;
  height:212px;
}
#u2376 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:98px;
  width:1001px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:97px;
}
#u2377 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:1277px;
  width:97px;
  height:97px;
  font-size:20px;
}
#u2378 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:93px;
  word-wrap:break-word;
}
#u2379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:97px;
}
#u2379 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:1276px;
  width:97px;
  height:97px;
  font-size:20px;
}
#u2380 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:93px;
  word-wrap:break-word;
}
#u2381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:97px;
}
#u2381 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:1276px;
  width:97px;
  height:97px;
  font-size:20px;
}
#u2382 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:93px;
  word-wrap:break-word;
}
#u2383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:97px;
}
#u2383 {
  border-width:0px;
  position:absolute;
  left:768px;
  top:1275px;
  width:97px;
  height:97px;
  font-size:20px;
}
#u2384 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:93px;
  word-wrap:break-word;
}
#u2385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:97px;
}
#u2385 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:1275px;
  width:97px;
  height:97px;
  font-size:20px;
}
#u2386 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:93px;
  word-wrap:break-word;
}
#u2387_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-12px;
  width:74px;
  height:28px;
}
#u2387p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:64px;
  height:6px;
}
#u2387p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:6px;
}
#u2387p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:5px;
  height:5px;
}
#u2387p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:6px;
  height:6px;
}
#u2387p002 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-12px;
  width:28px;
  height:28px;
}
#u2387p002_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:30px;
  height:30px;
}
#u2387.compound {
  width:0px;
  height:0px;
}
#u2387 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:1323px;
  width:60px;
  height:4px;
}
#u2388 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2389_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-12px;
  width:80px;
  height:28px;
}
#u2389p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-1px;
  width:72px;
  height:6px;
}
#u2389p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:6px;
}
#u2389p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:5px;
  height:5px;
}
#u2389p001_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:6px;
}
#u2389p002 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-12px;
  width:28px;
  height:28px;
}
#u2389p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:28px;
  height:30px;
}
#u2389.compound {
  width:0px;
  height:0px;
}
#u2389 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:1323px;
  width:66px;
  height:4px;
}
#u2390 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2391_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-12px;
  width:81px;
  height:28px;
}
#u2391p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:72px;
  height:6px;
}
#u2391p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:6px;
}
#u2391p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:5px;
  height:5px;
}
#u2391p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:6px;
  height:6px;
}
#u2391p002 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:-12px;
  width:28px;
  height:28px;
}
#u2391p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:28px;
  height:30px;
}
#u2391.compound {
  width:0px;
  height:0px;
}
#u2391 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:1323px;
  width:67px;
  height:4px;
}
#u2392 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2393_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-12px;
  width:84px;
  height:28px;
}
#u2393p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:74px;
  height:6px;
}
#u2393p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:6px;
}
#u2393p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:5px;
  height:5px;
}
#u2393p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:6px;
  height:6px;
}
#u2393p002 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-12px;
  width:28px;
  height:28px;
}
#u2393p002_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:30px;
  height:30px;
}
#u2393.compound {
  width:0px;
  height:0px;
}
#u2393 {
  border-width:0px;
  position:absolute;
  left:868px;
  top:1323px;
  width:70px;
  height:4px;
}
#u2394 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:97px;
}
#u2395 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:1277px;
  width:97px;
  height:97px;
  font-size:20px;
}
#u2396 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:93px;
  word-wrap:break-word;
}
#u2397_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-12px;
  width:80px;
  height:28px;
}
#u2397p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-1px;
  width:72px;
  height:6px;
}
#u2397p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:6px;
}
#u2397p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:5px;
  height:5px;
}
#u2397p001_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:6px;
}
#u2397p002 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-12px;
  width:28px;
  height:28px;
}
#u2397p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:28px;
  height:30px;
}
#u2397.compound {
  width:0px;
  height:0px;
}
#u2397 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:1323px;
  width:66px;
  height:4px;
}
#u2398 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:439px;
}
#u2399 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:1437px;
  width:1005px;
  height:439px;
}
#u2400 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:212px;
  width:1001px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:432px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.156862745098039);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2401 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:1418px;
  width:1005px;
  height:432px;
}
#u2402 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:208px;
  width:1001px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2403 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:113px;
  width:168px;
  height:24px;
  font-size:20px;
}
#u2404 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u2405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u2405 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:101px;
  width:47px;
  height:47px;
}
#u2406 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:43px;
  word-wrap:break-word;
}
#u2407 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1274px;
  height:105px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2408 {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:1860px;
  width:1274px;
  height:105px;
}
#u2409 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:1270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2410 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:1905px;
  width:188px;
  height:17px;
  font-size:15px;
}
#u2411 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u2412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2412 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:1931px;
  width:20px;
  height:20px;
}
#u2413 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2414 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:1933px;
  width:487px;
  height:17px;
  font-size:15px;
}
#u2415 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  white-space:nowrap;
}
#u2416_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u2416 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:1872px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2417 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u2418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2418 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:1878px;
  width:61px;
  height:17px;
  font-size:15px;
}
#u2419 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2420 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:1878px;
  width:61px;
  height:17px;
  font-size:15px;
}
#u2421 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2422 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:1878px;
  width:61px;
  height:17px;
  font-size:15px;
}
#u2423 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2424 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:1878px;
  width:61px;
  height:17px;
  font-size:15px;
}
#u2425 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2426 {
  border-width:0px;
  position:absolute;
  left:1005px;
  top:110px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u2427 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2428 {
  border-width:0px;
  position:absolute;
  left:948px;
  top:110px;
  width:53px;
  height:24px;
  font-size:20px;
}
#u2429 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u2430 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:530px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u2431 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u2432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u2432 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:564px;
  width:127px;
  height:22px;
  font-size:18px;
  color:#999999;
}
#u2433 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u2434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u2434 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:605px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u2435 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u2436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u2436 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:639px;
  width:253px;
  height:22px;
  font-size:18px;
  color:#999999;
}
#u2437 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u2438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u2438 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:672px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u2439 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u2440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u2440 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:706px;
  width:217px;
  height:22px;
  font-size:18px;
  color:#999999;
}
#u2441 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u2442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u2442 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:745px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u2443 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u2444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u2444 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:779px;
  width:163px;
  height:22px;
  font-size:18px;
  color:#999999;
}
#u2445 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u2446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2446 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:564px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2447 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2448 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:598px;
  width:271px;
  height:22px;
  font-size:18px;
}
#u2449 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  white-space:nowrap;
}
#u2450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2450 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:639px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2451 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2452 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:665px;
  width:284px;
  height:22px;
  font-size:18px;
}
#u2453 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  white-space:nowrap;
}
#u2454_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2454 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:706px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2455 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2456 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:740px;
  width:235px;
  height:22px;
  font-size:18px;
}
#u2457 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u2458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2458 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:779px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2459 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u2460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2460 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:813px;
  width:145px;
  height:22px;
  font-size:18px;
}
#u2461 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u2462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:292px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.156862745098039);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2462 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:882px;
  width:1005px;
  height:292px;
}
#u2463 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:138px;
  width:1001px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2464 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:901px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2465 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:181px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2466 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:957px;
  width:217px;
  height:181px;
}
#u2467 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:82px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:181px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2468 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:957px;
  width:217px;
  height:181px;
}
#u2469 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:82px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:181px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2470 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:957px;
  width:217px;
  height:181px;
}
#u2471 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:82px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:181px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2472 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:957px;
  width:217px;
  height:181px;
}
#u2473 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:82px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u2474 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:975px;
  width:76px;
  height:76px;
}
#u2475 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2476 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:1071px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2477 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u2478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u2478 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:1103px;
  width:129px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u2479 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u2480 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:974px;
  width:76px;
  height:76px;
}
#u2481 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2482 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:1070px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2483 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u2484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u2484 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:1102px;
  width:129px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u2485 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u2486 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:974px;
  width:76px;
  height:76px;
}
#u2487 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2488 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:1070px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2489 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u2490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u2490 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:1102px;
  width:155px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u2491 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u2492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u2492 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:974px;
  width:76px;
  height:76px;
}
#u2493 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2494 {
  border-width:0px;
  position:absolute;
  left:901px;
  top:1070px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2495 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u2496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u2496 {
  border-width:0px;
  position:absolute;
  left:856px;
  top:1102px;
  width:145px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u2497 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u2498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2498 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:1207px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2499 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:465px;
}
#u2500 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:433px;
  width:1px;
  height:464px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
}
#u2501 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:224px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2502 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:471px;
  width:145px;
  height:22px;
  font-size:18px;
}
#u2503 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u2504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2504 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:471px;
  width:109px;
  height:22px;
  font-size:18px;
}
#u2505 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u2506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2506 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:257px;
  width:301px;
  height:72px;
  font-size:20px;
}
#u2507 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
